<footer>
	<div class="contact">
		<h3>¿Tienes preguntas?</h3>
		<form>
			<input type="text" name="name" placeholder="Nombre" required="required">
			<input type="email" name="email" placeholder="Email" required="required">
			<input type="phone" name="phone" placeholder="Telefono">
			<textarea></textarea>
			<input type="submit" value="enviar :)">
		</form>
	</div>
	<div class="social">
		<ul>
			<li><a target="_blank" href="https://www.instagram.com/hackerspacex/">
				<img alt="facebook icon" src="{{ site.baseurl }}/assets/img/icons/social-instagram.svg"></a>
			</li>
			<li><a target="_blank" href="https://www.facebook.com/hackerspaceX/">
				<img alt="facebook icon" src="{{ site.baseurl }}/assets/img/icons/social-facebook.svg"></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/HackerspaceX">
				<img alt="twitter icon" src="{{ site.baseurl }}/assets/img/icons/social-twitter.svg"></a>
			</li>
		</ul>
	</div>
</footer>
