<a id="menu-button" href="#">
	<span>MENU</span>
	<img alt="menu icoin" src="{{ site.baseurl }}/assets/img/icons/icon-menu.svg">
</a>
<nav id="menu-container">
	<ul>
		<li><a href="{{ site.baseurl }}/">Inicio</a></li>
		<li><a href="{{ site.baseurl }}/consulting">Asesoria</a></li>
		<li><a href="{{ site.baseurl }}/products">Productos</a></li>
		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
		<li><a href="{{ site.baseurl }}/portfolio">Portafolio</a></li>
		<li><a href="{{ site.baseurl }}/events">Eventos</a></li>
	</ul>
</nav>
