
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'Template'


// * Loading modules
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('flex', '../vendor/lesli/src/')


// * Page header
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
header
	Lesli-flex-center('vertical')
	height 75vh
	
	h1
		text-transform uppercase
		font-size 3rem
		margin-bottom 2rem

	img
		width 100%
		max-width 100px


section.posts
	
	article
		padding 1rem
		margin-bottom 2rem

		h2
			text-align center
