
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'Template'


// * Loading modules
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('flex', '../vendor/lesli/src/')


// * Header
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
header
	Lesli-flex-center('vertical')
	height 600px
	text-align center
	
	#menu-button
		position absolute
		top 1.5rem
		right 1.5rem
		
		span
		img	
			vertical-align middle
			display inline-block
			
		img
			width 50px

	img
		width 100%
		max-width 250px
		

section.about
	text-align center
	width 800px
	margin 0 auto
	
	p
		margin-top 2rem
		font-size 2rem
	
	img
		display block
		margin 0 auto 4rem
		
		&:nth-child(1)
			width 100px
			
		&:nth-child(2)
			width 200px