
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'Template'


// * Loading modules
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('flex', '../vendor/lesli/src/')


// * Header
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
header
	Lesli-flex-center('vertical')
	height 600px
	text-align center

	img
		width 100%
		max-width 250px
		

section.about
	text-align center
	width 90%
	max-width 800px
	margin 0 auto
	
	p
		font-size 2rem
	
	img
		display block
		margin 0 auto 4rem
		max-width 300px
		width 75%
		
		&.photo
			border-radius 50%
			border 4px solid $color-gray
