
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$color-white = #ffffff
$color-black = #444444

$color-gray = #2C2D2C
$color-gray-light-20 = lighten($color-gray, 20)


// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-family-body = 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-family-title = $font-family-body



// * Including Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../vendor/lesli/'


// * Fonts
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
@font-face
    font-family 'Gotham'
    font-style normal
    font-weight 100
    src url('/assets/fonts/gotham/GothamLight.ttf') format('truetype')


// * Base styles
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
Lesli-base()


// * Global dom styles
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
*
	color $color-gray
	font-family $font-family-body
	font-weight 300


html
body
	color $color-gray
	font-family $font-family-body
	font-size 16px
	line-height 1.1


// * Navigation
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
#menu-button
	top 1.5rem
	z-index 999
	right 1.5rem
	display flex
	align-items center
	position fixed
	
	img
		width 50px
	
#menu-container
	display none
	background-color $color-white
	position fixed
	z-index 998
	width 100%

	ul
		margin 10rem auto 0
		max-width 250px
		width 100%
		height 100vh
		
		li
			margin-top 1.5rem 
			text-align right
			
			a
				padding-right 8rem
				text-transform uppercase
				border-bottom 2px solid $color-gray

h2.title
	font-size 4rem
	
hr.line
	border-bottom 2px solid $color-gray
	margin 6rem auto



section.social
	padding 1rem 0
	
	ul
		width 100%
		text-align center

		li
			padding 0 .2rem
			display inline-block

		img
			width 50px
